@model Universidad.Models.User_Administrator

@{
    ViewBag.Title = "DETALLE";
}

<h2>DETALLE</h2>

<div>
    <h4>Administrador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Passwordd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passwordd)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id_User }) |
    @Html.ActionLink("Volver", "Index")
</p>
