@model IEnumerable<Universidad.Models.User_Administrator>

@{
    ViewBag.Title = "Administrador";
}

@{
    var numero = Model.Count();
}

<h2 class="page-header">Administrador<small> @numero  REGISTRO</small></h2>

<p>
    @Html.ActionLink("Crear Nuevo Administrador", "Create") <p> @Html.ActionLink("Volver Al Menu Administrador", "Index", "MenuADM")  
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Passwordd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Passwordd)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id_User }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id_User }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.Id_User })
        </td>
    </tr>
}

</table>
